*{
	/*comentarios css*/
	margin:0px;
	padding:0px;
}
body{
	/* a razon de sitio responsivo cada m=16Px*/
	font-size:0px;	
	background-size:cover;
	padding-top:30px;
}
html{
	font-size:14px;
}
#menuprincipal{
	background-color:rgba(19,100,19,0.7);
	text-align:center;
	position:fixed;
	width:100%;
	top:0px;
	z-index:1; /*para que permita manterner visible menu*/
}
.opcionmenuprincipal{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	padding:10px 50px;
	cursor:pointer;
	position:relative;
	font-size:1rem;
}
#btnquienessomos{
	position:relative;
	background-color:#0CB925;
}
aside{
	width:45%;
	height:600px;
	background-color:#0f0;
}
aside,nav,section{
	display:inline-block;
	margin-bottom:1%;
}
footer{
	height:90px;
	background-color:#6B8E23;
	margin-top:1%;
	text-align:center;
	color:#000000;
}
.lateral{
	position:center;
	background-color:#006400;
	width:96%;
	height:100px;
	margin:10px;
}
h3{
	font-family:Arial,cursive,"Times New Roman";
	color:#000000;
	font-size:2rem;
	text-align:center;
}
#imagen1{
	float:center;
	margin:40px;
	width:86%;
	height:250px;
}
#formulario{
	width:500px;
	position:relative;
	top:10%;
	left:7%;
	padding:10px;
	text-align:center;
	background-color:rgba(255,255,255,0.7);
	border:solid 1px #136713;
	font-size:1rem;
}
#formulario legend{
	font-size:1.5rem;
	color:#ff0;
	background-color:#136713;
	padding:2px 10px;
}
input[type="submit"], input[type="button"]{
	background-color:#A52A2A;
	width:100px;
	color:#fff;
	margin:10px;
	border-radius:0px 10px;
	padding:0px;
}
input[type="submit"]:hover input[type="button"]{
	border:1px;solid #0f0;
	background-color:#fff;
	cursor:pointer;
	color:#A52A2A;
}
h1{
	font-family:Arial,cursive,"Times New Roman";
	color:#ffffff;
	font-size:2rem;
	text-align:center;
	background-color:#98FB98;
}
iframe{
	float:right;
	width:723px;
	margin:10px;
	height:500px;
}

